
/*************************************************** 
    ASIDE SECTION
****************************************************/
.logo {
    width: 95%;
    padding: 20px 15px;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav-bar li,
.playlist-section,
.footer-aside-section {
    width: 95%;
    padding: 10px 15px;
}

.logo img {
    width: 75%;
}
/********************* 
    NAV-BAR SECTION
**********************/

.nav-bar {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.nav-bar li a {
    display: flex;
    align-items: center;
}

.nav-bar li a span {
    padding: 0px 4px;
}

.nav-bar img {
    width: 26px;
    height: 26px;
}

/********************* 
    PLAYLIST SECTION
**********************/

.playlist-section {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
}

.playlist-section button {
    padding: 6px 8px;
    background-color: var(--lightgrey-bg);
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.playlist-section button:hover {
    background-color: var(--white-text);
}

.playlist-section span {
    color: var(--grey-text);
    padding: 0px 4px;
}

.playlist-section .add-playlist {
    display: flex;
    align-items: center;
}

.playlist-section .playlist-list {
    padding: 15px 0;
    overflow-y: auto;
    height: 80%;
}

.playlist-section .playlist-list li a {
    line-height: 2.5rem;
}

.aside-container a:hover {
    color: var(--white-text);
}

/********************* 
    FOOTER ASIDE SECTION
**********************/

.footer-aside-section .info-user {
    color: var(--white-text);
    font-size: 18px;
}

.footer-aside-section hr {
    border-color: #7D7F84;
}

.footer-aside-section span {
    padding: 0px 4px;
}

.footer-aside-section {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/*************************************************** 
    MAIN SECTION
****************************************************/

/********************* 
    LAYOVER SECTION
**********************/

.main-container .layover {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 225px;
    
    position: fixed;
    top: 0;
    right: 0;
    left: 215px;
}

.main-container .layover a {
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
}

.main-container .image-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.main-container .image-container img {
    max-width: 100%;
}

.main-container .image-container .image-layover {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 60px;
    opacity: 0;
    color: var(--white-text);
}

.main-container .image-container:hover .image-layover {
    opacity: 1;
}

.main-container .popular-artists .image-container .image-layover {
    border-radius: 50%;
}

/********************* 
    MAIN NAV BAR SECTION
**********************/

.main-container .main-nav-bar {
    height: 50px;
    display: flex;
    justify-content: center;
}

.main-container .main-nav-bar li {
    display: inline-block;
    position: relative;
}

.main-container .main-nav-bar li a {
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 100;
}

.main-container .main-nav-bar li a:hover:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    margin: -5px 0;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid var(--slime-border);
}

/********************* 
    RECENTLY PLAYED SECTION
**********************/

.main-container .recently-played h2,
.main-container .recently-played .song-title {
    color: var(--white-text);
}

.main-container .recently-played .song-title,
.main-container .recently-played .song-subtitle {
    padding: 5px 0;
}

.main-container .recently-played h2 {
    padding: 75px 0 ;
    font-size: 30px;
}

.main-container .recently-played .row {
    display: flex;
    justify-content: space-between;
}

.main-container .recently-played .col {
    width: calc((100% / 6) - 20px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between; 
}


/********************* 
    CREATED FOR YOU SECTION
**********************/

.main-container .created-for-you h2,
.main-container .created-for-you .song-title {
    color: var(--white-text);
}

.main-container .created-for-you .song-title,
.main-container .created-for-you .song-subtitle {
    padding: 5px 0;
}

.main-container .created-for-you h2 {
    font-size: 30px;
    padding: 30px 0 10px;
}

.main-container .created-for-you h4 {
    color: var(--grey-text);
    padding: 20px 0 30px;
    font-weight: 100;
}


.main-container .created-for-you .row {
    display: flex;
}

.main-container .created-for-you .col {
    width: calc((100% / 6) - 20px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-right: 30px;
}

/********************* 
    POPULAR ARTISTS SECTION
**********************/

.main-container .popular-artists h2,
.main-container .popular-artists .song-title {
    color: var(--white-text);
}

.main-container .popular-artists .song-title,
.main-container .popular-artists .song-subtitle {
    padding: 5px 0;
}

.main-container .popular-artists h2 {
    font-size: 30px;
    padding: 30px 0 10px;
}

.main-container .popular-artists h4 {
    color: var(--grey-text);
    padding: 10px 0 30px;
    font-weight: 100;
}



.main-container .popular-artists .row {
    display: flex;
}

.main-container .popular-artists .col {
    width: calc((100% / 6) - 20px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-right: 30px;
}

.main-container .popular-artists img {
    border-radius: 50%;
}




/*************************************************** 
    FOOTER SECTION
****************************************************/

.footer-container {
    display: flex;
    justify-content: space-between;
}

/********************* 
    SONG-INFO SECTION
**********************/


.song-general {
    width: 210px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.song-info-title,
.song-info-singer {
    padding-top: 3px;
}

.song-cover {
    width: 80px;
}

.song-cover img {
   max-width: 100%;
   height: 100%;
}

.song-info .song-info-title {
    font-size: 12px;
    color: var(--white-text);
}

.song-info .song-info-singer {
    font-size: 12px;
    color: var(--grey-text);
}

.song-general button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 5px;
    color: var(--grey-text);
    font-weight: 100;
    display: flex;
    align-self: center;
}

.song-general button:hover {
    color: var(--white-text);
}

/********************* 
    INTERACTIVE BUTTONS SECTION
**********************/

.interactive-buttons-section {
    width: 700px;
}

.interactive-buttons {
    display: flex;
    justify-content: center;
}

.interactive-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.interactive-buttons button:hover {
    color: var(--grey-text);
}

.interactive-buttons .footer-button {
    font-size: 20px;
    color: var(--white-text);
    padding: 15px 15px;
}

.interactive-buttons .play-button {
    font-size: 30px;
}

.time-bar {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.time-bar-hr {
    position: relative;
    width: 100%;
}

.time-bar .grey-hr {
    width: 100%;
    height: 1px;
    border: 2px solid var(--grey-text);
    border-radius: 2px;
    margin-top: 5px;
}

.time-bar .white-hr {
    width: 25%;
    height: 1px;
    border: 2px solid var(--white-text);
    border-radius: 2px;
    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.time-circle {
    position: absolute;
    left: 25%;
    top: 0;
    height: 10px;
    width: 10px;
    background-color: var(--white-text);
    border-radius: 50%;
    transform: translate(-50%, 25%);
    display: none;
    cursor: pointer;
}

.time-bar-hr:hover .time-circle {
    display: block;
}


.time-bar span {
    color: var(--white-text);
    font-size: 12px;
    padding: 0 20px;
}

/********************* 
    SONG INTERACTIONS SECTION
**********************/

.song-interactions {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-button {
    background: none;
    border: none;
    color: var(--white-text);
    cursor: pointer;
}

.footer-button:hover {
    color: var(--grey-text);
}

.volume-bar-hr {
    position: relative;
    width: 60%;
    margin-right: 20px;
}

.volume-bar-hr .grey-hr {
    width: 100%;
    height: 1px;
    border: 2px solid var(--grey-text);
    border-radius: 2px;
}

.volume-bar-hr .white-hr {
    width: 40%;
    height: 1px;
    border: 2px solid var(--white-text);
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.volume-circle {
    position: absolute;
    left: 40%;
    top: 0;
    height: 10px;
    width: 10px;
    background-color: var(--white-text);
    border-radius: 50%;
    transform: translate(-50%, -25%);
    display: none;
    cursor: pointer;
}

.volume-bar-hr:hover .volume-circle {
    display: block;
}






/*************************************************** 
    RESPONSIVE
****************************************************/

/********************* 
    TABLET (>576px)
**********************/



/********************* 
    DESKTOP (>992px)
**********************/

