/*************************************************** 
    UTILITIES
****************************************************/

/********************* 
    BACKGROUND COLORS
**********************/

:root {
    --black-bg: #000000;
    --blue-bg: #141922;
    --grey-bg: #282828;
    --lightgrey-bg: #A3A3A3;
}

/********************* 
    TEXT
**********************/

:root {
    --black-text: #000000;
    --white-text: #FFFFFF;
    --grey-text: #7D7F84;
    --slime-border: #ADFF2F;
}

/********************* 
    CONTAINERS
**********************/

body {
    min-height: 500px;
}

main {
    display: flex;
    justify-content: flex-end;
}

.aside-container {
    width: 215px;
    background-color: var(--black-bg);
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    min-height: calc(100vh - 100px);
    width: calc(100vw - 215px);
    background-color: var(--blue-bg);
    padding: 150px 40px;
}

.footer-container {
    height: 100px;
    background-color: var(--grey-bg);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

